{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h1 class="h4 mb-3">Change Password</h1>

        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100">Update Password</button>
          <a href="{% url 'edit_profile' %}" class="d-block text-center mt-3">
            Back to Edit Profile
          </a>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}